@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-color: #a04637;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 450px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

input {
  height: 40px;
  border: 2px solid rgb(239, 239, 239);
}

button {
  background-color: var(--main-color);
  color: whitesmoke;
  border: unset;
  padding: 10px 25px;
}

.container {
  background: #f1dcc9;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  width: 100%;
  height: 60px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__list {
  flex-basis: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  align-items: center;
  justify-content: space-between;
}

.navbar__menu-list {
  display: flex;
  gap: 50px;
  color: var(--main-color);
}

.navbar__logotype {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 30px;
}

.login {
  min-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: #fff;
  padding: 40px 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.login__title {
  font-size: 30px;
  text-align: center;
  font-weight: 300;
  margin: 0 0 20px 0;
  letter-spacing: 2px;
  color: #42313a;
}

.login__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login__login-input,
.login__password-input {
  font-size: 16px;
  padding: 0 10px;
}

.login__forgot-password {
  color: var(--main-color);
  font-size: 12px;
  margin-bottom: 10px;
}

.login__button {
  margin: auto;
  width: unset;
}

@media only screen and (max-width: 650px) {
  .navbar {
    height: 120px;
  }

  .navbar__menu {
    order: 1;
    margin: auto;
  }
}
