@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.title {
  font-family: "Montserrat", serif;
  margin-bottom: 25px;
  text-transform: uppercase;
  margin: 0 0 25px 0;
  padding: 0;
}

.container {
  background: #fff;
  min-height: 100vh;
  padding: 50px;
}

.products {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.products__card {
  max-height: 800px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.products__picture {
  display: block;
  overflow: hidden;
}

.products__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.products__content {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}

.products__price {
  font-weight: bold;
  margin: 20px 0;
}

@media only screen and (max-width: 768px) {
  .products {
    flex-direction: column;
  }
}
