@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

h1 {
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 50px;
}

@media (max-width: 1049px) {
  .container {
    padding: 25px;
  }
}

@media (max-width: 475px) {
  .container {
    padding: 15px;
  }
}

.page {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 25px;
}

.header__headline {
  font-size: 40px;
  font-weight: 700;
  color: #1d293f;
}

.header__text {
  font-size: 24px;
  color: #546179;
  margin: 0;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1.35fr 0.65fr 1fr;
  grid-template-rows: 335px 335px;

  grid-template-areas:
    "vietnam greece london london"
    "old-rain greece amsterdam paris";
  gap: 30px;
}

@media (max-width: 1049px) {
  .main-content {
    grid-template-columns: 1.55fr 1fr;
    grid-template-rows: 0.35fr 0.35fr 0.45fr 0.55fr;

    grid-template-areas:
      "greece paris"
      "greece vietnam"
      "london london"
      "amsterdam old-rain";
  }
}

@media (max-width: 475px) {
  .main-content {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 255px);
    grid-auto-rows: 255px;

    grid-template-areas:
      "greece"
      "london"
      "paris"
      "vietnam"
      "old-rain"
      "amsterdam";
    gap: 15px;
  }
}

.item {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.item__info {
  position: absolute;
  left: 35px;
  bottom: 35px;
  color: white;
}

.item__headline {
  font-size: 24px;
  font-weight: 500;
}

.item__desecription {
  font-size: 16px;
}

.item__headline {
  margin: 0 0 15px 0;
}

.item__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.vietnam {
  grid-area: vietnam;
}

.old-rain {
  grid-area: old-rain;
}

.greece {
  grid-area: greece;
}

.london {
  grid-area: london;
}

.amsterdam {
  grid-area: amsterdam;
}

.paris {
  grid-area: paris;
}
