:root {
  --theme-color: ;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid lightgray;
  height: 3rem;
  background: #fff;
}

.navbar__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  list-style: none;
  margin: 0;
  padding: 0 1rem;
}

.nav__item {
  display: flex;
  align-items: center;
}

.nav__item-image {
  width: 130px;
}

.nav-item__search {
  display: flex;
  align-items: center;
}

.search-form {
  border-radius: 0.2rem;
  overflow: hidden;
  position: relative;
}

.search-form__input {
  height: 2rem;
  min-width: 400px;
  border: 1px solid lightgray;
  padding: 0.5rem;
}

.nav-item__search:focus-within + .nav-item__search-dropdown {
  opacity: 1;
}

.dropdown__title {
  display: block;
  font-weight: bold;
  border-bottom: 1px solid lightgray;
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

.nav-item__search-dropdown {
  position: absolute;
  margin-top: 0.1rem;
  /* Ширина search-form__input и плюс ширина search-form__button */
  width: calc(400px + 2rem);
  border-radius: 0.2rem;
  background: white;
  font-size: 1.6rem;
  padding: 1.2rem;
  border: 1px solid lightgray;
  transition: 0.33s opacity ease-out;
  opacity: 0;
}

.dropdown__search-list {
  display: flex;
  flex-direction: column;

  list-style: none;
  margin: 0;
  padding: 0;
}

.search-list__item {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
}

.search-form__button {
  height: 2rem;
  width: 2rem;
  position: relative;
  background: #1976d2;
  border: unset;
}

.search-form__button::after {
  content: "";
  position: absolute;
  /* Если вставить через background, то цвет уже не изменить (ну или пытаться как то через fitler) */
  mask: url("./assets/icon-search.svg") no-repeat center / contain;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  width: 75%;
}

.content {
  margin: 4rem 1rem;
  font-size: 1.6rem;
}

.content img {
  margin: 0 1rem;
}

.content__left-image {
  float: left;
}

.content__right-image {
  float: right;
}

/* Доп стили */

.item-icon {
  display: block;
  position: relative;
  height: 2rem;
  width: 2rem;
}

.item-icon::before {
  content: "";
  position: absolute;
  /* Если вставить через background, то цвет уже не изменить (ну или пытаться как то через fitler) */
  mask: url("./assets/icon-search.svg") no-repeat center / contain;
  background-color: #1976d2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75%;
  width: 75%;
}
